fastapi
uvicorn
sqlalchemy
pydantic
databases
psycopg2-binary
pydantic-settings
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
argon2-cffi>=21.3.0
pydantic[email]
pytest
pytest-asyncio
httpx
pytest-cov
coverage
celery
redis
prometheus_client
starlette_exporter
